[Unit]
Description=Glacier prototype persistent network isolation
DefaultDependencies=no
After=local-fs.target systemd-modules-load.service
Before=network-pre.target network.target
Wants=network-pre.target
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
ExecStart=/etc/glacier2/enforce
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
